<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
     <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <div class="container">
        
    {{>header}} 
    {{>footer}} 

    </div>

    {{!-- <footer>
       <p> {{author}} </p>
    </footer> --}}
    {{!-- instead of copy and past footer, there is a way to keep it in one place, becase footer is consistent --}}
</body>
</html>